/*
* Copyright ⓒ 2019 Cassidy James Blaede (https://cassidyjames.com)
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public
* License as published by the Free Software Foundation; either
* version 2 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public
* License along with this program; if not, write to the
* Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
* Boston, MA 02110-1301 USA
*
* Authored by: Cassidy James Blaede <c@ssidyjam.es>
*/

@define-color colorPrimary @GRAPE_700;
@define-color colorAccent @GRAPE_500;
@define-color textColorPrimary shade(@GRAPE_100, 1.05);
@define-color textColorPrimaryShadow alpha(shade(@colorPrimary, 0.6), 0.4);

.titlebar entry {
  background: alpha(@GRAPE_900, 0.5);
  color: @textColorPrimary;
  text-shadow: none;
}

.titlebar entry image {
    color: alpha(@textColorPrimary, 0.75);
}

.titlebar entry image:hover {
    color: @textColorPrimary;
}

infobar button.close:not(:active) {
  border-color: transparent;
  box-shadow: none;
}

