[Desktop Entry]
Name=Ephemeral
GenericName=Private browser
Comment=Browse the web in private
Categories=Network;WebBrowser;Security;GTK;
Exec=com.github.cassidyjames.ephemeral
Icon=com.github.cassidyjames.ephemeral
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.cassidyjames.ephemeral
Keywords=WWW;web;browser;internet;private;incognito;focus;temporary;cookies;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;application/xhtml+xml;application/x-extension-htm;application/x-extension-html;application/x-extension-shtml;application/x-extension-xht;application/x-extension-mhtml;

