/*
* Copyright © 2019–2021 Cassidy James Blaede (https://cassidyjames.com)
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public
* License as published by the Free Software Foundation; either
* version 3 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public
* License along with this program; if not, write to the
* Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
* Boston, MA 02110-1301 USA
*
* Authored by: Cassidy James Blaede <c@ssidyjam.es>
*/

@define-color BLUEBERRY_900 #002e99;
@define-color GRAPE_900 #452981;

@define-color textColorPrimary alpha(white, 0.9);

.titlebar,
.titlebar button {
    transition:
      200ms ease background,
      200ms ease color;
}

.titlebar button {
  -gtk-icon-style: symbolic;
  color: @html_meta_theme_color_fg;
}

.titlebar .image-button,
.titlebar .titlebutton {
  background: transparent;
  color: @html_meta_theme_color_fg;
  text-shadow: none;
  -gtk-icon-shadow: none;
}

.titlebar .image-button.raised,
.titlebar .linked .image-button {
  background: rgba(255, 255, 255, 0.125);
}

.titlebar entry,
.titlebar entry image {
  color: @html_meta_theme_color_fg;
}

.titlebar entry {
  background-color: mix(@html_meta_theme_color_bg, @html_meta_theme_color_fg, 0.125);
}

.titlebar .image-button:disabled {
    opacity: 0.5;
}

.titlebar .linked .image-button:first-child {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  padding-left: 0.5rem;
}

.titlebar .linked .image-button:last-child {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  padding-right: 0.25rem;
}

.titlebar .linked.navigation .image-button:last-child {
  padding-right: 0.5rem;
}

.browser-button .raised:last-child {
  padding: 0;
}

.welcome {
  background-image: linear-gradient(120deg, @BLUEBERRY_900, @GRAPE_900 67%);
  color: white;
}

.welcome * {
  color: inherit;
}

.h1 {
  color: inherit;
  font-family: Inter, Raleway, "Open Sans", sans-serif;
  font-size: 24pt;
  font-weight: 900;
}

.h2 {
  font-size: 18pt;
  font-weight: 300;
}

dzlsuggestionpopover row {
  padding: 5px;
}

dzlsuggestionpopover row image {
  -gtk-icon-palette: warning #fff;
}

.overlay-bar {
  padding: 3px 6px;
  transition: opacity 200ms ease;
}

.hidden .overlay-bar {
  opacity: 0;
}

popover radio {
  margin-left: 6px;
}

label.primary {
  font-weight: 700;
  font-size: 1.2em;
}

.color-button radio,
.color-button radio:checked {
   padding: 1.25em;
   -gtk-icon-shadow: none;
}

.color-light radio {
    background: #fafafa;
    color: #333;
}

.color-dark radio {
    background: #333;
    color: #fafafa;
}
